<%- include('../partials/header', { title: 'People', user: user, page: '/people' }) %>
<a href="/people/new-with-booking" class="btn-primary mb-4 inline-block">New Person & Booking</a>
<div class="bg-white rounded-lg shadow-md p-6">
  <table class="w-full">
    <thead>
      <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Date of Birth</th>
        <th class="text-left">Email</th>
        <th class="text-left">Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% people.forEach(person => { %>
        <tr>
          <td><a href="/people/<%= person.id %>" class="text-blue-500 hover:underline"><%= person.name %></a></td>
          <td><%= person.dob.toDateString() %></td>
          <td><%= person.email %></td>
          <td><%= person.phone %></td>
          <td>
            <a href="/people/<%= person.id %>/bookings/new" class="text-blue-500 hover:underline">New Booking</a>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
