<link rel="stylesheet" href="/node_modules/datatables.net-dt/css/jquery.dataTables.css">
<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  <%- include('../partials/breadcrumbs', { breadcrumbs: breadcrumbs }) %>
  <div class="px-4 py-6 sm:px-0">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-2xl font-bold text-gray-800">People</h2>
      <a href="/police/dashboard" class="text-blue-500 hover:underline">Back to Dashboard</a>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6">
      <table id="peopleTable" class="w-full text-left">
        <thead>
          <tr>
            <th class="py-2">Name</th>
            <th class="py-2">Date of Birth</th>
            <th class="py-2">Gender</th>
            <th class="py-2">Address</th>
          </tr>
        </thead>
        <tbody>
          <% people.forEach(person => { %>
            <tr class="border-b border-gray-200">
              <td class="py-2">
                <a href="/police/people/<%= person.id %>" class="text-blue-500 hover:underline"><%= person.name %></a>
              </td>
              <td class="py-2"><%= new Date(person.dateOfBirth).toLocaleDateString() %></td>
              <td class="py-2"><%= person.gender %></td>
              <td class="py-2"><%= person.address %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="/node_modules/datatables.net-dt/js/jquery.dataTables.js"></script>
<script>
  $(document).ready(function() {
    $('#peopleTable').DataTable();
  });
</script>
